.wrapper {
  width: 100vw;
  height: 90vh;
}

.header-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.body-alumnos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.container {
  max-width: 90vw;
}

.title-perfil {
  margin-left: 3rem;
  font-size: 32px;
  text-align: left;
  font-family: Nexa-Bold;
  letter-spacing: 0px;
  color: #231F20;
  text-transform: capitalize;
  opacity: 1;
}

.title-table {
  margin-left: 3rem;
  font-size: 28px;
  text-align: left;
  font-family: Nexa-Bold;
  letter-spacing: 0px;
  color: #231F20;
  text-transform: capitalize;
  opacity: 1;
}

// Estilos de la tabla
table {
  width: 100%;
  padding-bottom: 1.5rem;
}

// Asegura que la tabla tenga un layout fijo y mejor ajuste
::ng-deep .mat-mdc-table {
  table-layout: fixed !important;
}

// Cabecera de la tabla
.mat-mdc-header-cell {
  border-bottom-color: #231F20;
  font-family: Nexa-Bold !important;
  font-size: 16px; /* Reducir tamaño de fuente para cabecera */
  text-align: left;
  letter-spacing: 0px;
  color: #231F20;
  opacity: 1;
  padding: 10px; /* Añadir espacio para mayor legibilidad */
}

// Celdas de la tabla
.mat-mdc-cell {
  text-align: left;
  font-family: Nexa !important;
  font-size: 14px !important; /* Reducir tamaño de fuente */
  letter-spacing: 0px !important;
  color: #231F20 !important;
  opacity: 1 !important;
  padding: 8px; /* Espaciado adecuado en las celdas */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Columnas con texto largo que puede desbordarse
.mat-column-matricula,
.mat-column-nombre,
.mat-column-email,
.mat-column-fecha_nacimiento,
.mat-column-curp,
.mat-column-rfc,
.mat-column-edad,
.mat-column-telefono,
.mat-column-ocupacion {
  max-width: 150px; /* Limitar el ancho máximo de cada columna */
  overflow: hidden;
  text-overflow: ellipsis;
}

// Editar
.td-editar {
  color: #0092B8 !important;
  cursor: pointer !important;
  font-size: 20px !important;
  text-align: center;
}

.td-editar:hover {
  color: #006179 !important;
  font-size: 25px !important;
  text-align: center;
}

// Eliminar
.td-eliminar {
  color: #E84150 !important;
  cursor: pointer !important;
  font-size: 20px !important;
  text-align: center;
}

.td-eliminar:hover {
  color: #ce1626 !important;
  font-size: 25px !important;
  text-align: center;
}

// Paginador de la tabla
.mat-paginator {
  font-size: 0.8rem; /* Reducir el tamaño del paginador */
  margin-top: 10px;
}
